body {
    background-color: $primary-color;
}

body,
html {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: $white-smoke;
}

.container {
    width: 80%;
    padding: 4%;
    max-width: 1680px;
    margin-right: auto;
    margin-left: auto;
}

fieldset {
    border-width: 1px;
}

.generator-button {
    transition: all ease-in-out 0.3s;
    background-color: $gold-leaf;
    cursor: pointer;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    color: $primary-color;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.generator-button:hover {
    background-color: $silver-chalice;
    color: $charcoal;
}

input[type='radio'] {
    display: block;
    float: left;
    clear: none;
    margin-right: 15px;
}

input[type='radio'],
input + label {
    cursor: pointer;
}

input + label {
    float: left;
    clear: none;
    display: block;
    padding-right: 15px;
}
